/* styles.css */

/* ID Selector */
#main-heading {
    border: 2px solid blue;
    color: red;
    font-weight: bold;
    font-size: 24px;
  }
  
  /* Element Selector */
  h2 {
    color: green;
    font-size: 20px;
  }
  
  ol {
    color: purple;
    font-size: 16px;
  }
  
  ul {
    color: orange;
    font-size: 14px;
  }
  